.runningReceiptDiv {
  width: 44%;
  min-height: 31.65em;
  margin-right: .5em;
  margin-top: .3em;
  border: 5px solid purple;
  display: inline-block;
  float: right;
  padding-right: 1em;
  padding-bottom: 1em;
}

.runningReceiptDiv > h3 {
  text-align: center;
}

.price {
  float: right;
  margin-right: 25%;
}
